@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Session</title>
</head>
<body>
    <div>
        <p style="background-color:red; font-size:40px">
            
            ____________________________________________________
        </p>
    </div>
    <div>
        <p>
            @Session["ss"]
        </p>
    </div>
</body>
</html>
