
<!--<ul>
    <li *ngFor="let food of foods">
        <img src="{{food}}" alt=""/> 
    </li>
</ul>-->
<ul>
    <li *ngFor="let meal of menus; let i = index">
        <a>
            <img src="{{meal.strMealThumb}}" alt=""/>
        </a>
        <div class="content">
            <div class="name">
                {{ names[i] }}
            </div>
            <div class="category">
                {{meal.strCategory}}
            </div>
            <div class="area">
                {{ caption[i] }}
            </div>
        </div>
    </li>
    <!--<li *ngFor="let meal of foods">
        <a>
            <img src="{{meal.strMealThumb}}" alt=""/>
        </a>
        <p>{{meal.strMeal}}</p>
        <p>{{meal.strCategory}}</p>
        <p>{{meal.strArea}}</p>
    </li>-->
</ul>