<app-search></app-search>
<!--<ul>
    <li *ngFor="let food of foods">
        <img src="{{food}}" alt=""/> 
    </li>
</ul>-->
<ul>
    <li *ngFor="let meal of filtered; let i = index">
        <a routerLink="/meal/{{meal.idMeal}}">
            <img src="{{meal.strMealThumb}}" alt=""/>
        </a>
        <div class="content">
            <div class="name">
                {{ meal.strMeal }}
            </div>
            <!--<div class="category">
                {{meal.strCategory}}
            </div>-->
            <div class="area">
                <img src="{{flags[i]}}" alt="{{ meal.strArea }} Flag" >
                <!--{{ meal.strArea }}-->
            </div>
        </div>
    </li>
    <!--<li *ngFor="let meal of foods">
        <a>
            <img src="{{meal.strMealThumb}}" alt=""/>
        </a>
        <p>{{meal.strMeal}}</p>
        <p>{{meal.strCategory}}</p>
        <p>{{meal.strArea}}</p>
    </li>-->
</ul>